@import url("https://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
* {
  box-sizing: border-box;
}

.container-zz {
  margin: 0 auto;
  max-width: 640px;
}

oneline-a {
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}

.oneline {
  overflow-x: hidden;
  /* padding: 20px; */
  font-family: "Montserrat", helvetica, arial, sans-serif;
  font-size: 100%;
  line-height: 1.25;
  color: #637d99;
  /* background: linear-gradient(to right, #1e1f20 , rgb(23, 29, 34)); */
   /* background-color: rgb(230, 227, 227); */
   /* background-color: rgb(231, 229, 229); */
   background-color: rgb(247, 247, 247);
  
   /* background-color: #F3F3F3; */
  /* background: linear-gradient(to right, #0d0c0c , rgb(28, 29, 29)); */
  /* background: linear-gradient(to right, #1e1f20 , rgb(23, 29, 34)); */
}

.oneline-h {
  margin: 1.875em 0 0 0;
  font-size: 0.875em;
  font-weight: 500;
  color: #919FAF;
  text-transform: uppercase;
}

/* @media screen and (max-width: 500px) { */
  .p-oneline{
    /* margin-left: 2.725em; */
    margin-left: 3.250em;
  }
/* } */
.past {
  overflow: hidden;
  margin: 4px -20px;
  padding: 10px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 3px;
}

.date {
  float: left;
  padding: 0.125em 0.75em 0 0;
  margin-left: 0.25em;
  margin-right: 0.75em;
  font-weight: bold;
  text-align: center;
  border-right: 2px solid #2a65a9;
}

.date .weekday,
.date .day {
  display: block;
}

.date .weekday {
  font-size: 0.75em;
}

.date .day {
  margin-top: -2px;
  font-size: 1.3em;
}

.oneline-a {
  position: relative;
  top: 15px;
  display: block;
  float: right;
  width: 40px;
  line-height: 2.5;
  text-align: center;
  color: #919FAF;
}

.oneline-h3 {
  font-weight: bold;
  margin-bottom: -3px;
  margin-top: 3px;
  
  color: #c31b1b;
}

.duration,
.location {
  font-size: 0.875em;
  color: #054e97;
  -webkit-font-smoothing: antialiased;
}

.duration {
  margin-right: 0.25em;
  padding-left: 0.1em;
  padding-right: 0.5em;
  border-right: 1px solid #1b528e;
  color: #222c37;
}

.past {
  color: #161414;
  border-color: #E2E5E5;
  background-color: #F3F3F3;
}

.next .date {
  border-right-color: #1ABC9C;
  border-width: 0.25em;
  margin-right: 0.75em;
  padding-right: 0.625em;
}

.past:first-child {
  /* margin-top: 1px; */
}

button.subscribe {
  position: relative;
  top: -4px;
  left: -11px;
}

button.subscribe span {
  position: absolute;
  top: 0;
  left: 5px;
}

button.subscribe span:last-child {
  font-size: 0.5em;
  top: 7px;
  left: 10px;
}

@media (min-width:300px) and (max-width: 700px) {
  .past{
    /* margin-left: -15px; */
    margin-right: 15px;
  }
}