@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
.smallcard{
    font-size: medium;
    /* font-family: 'Caveat', cursive; */
    font-family: 'Nunito', sans-serif;
    margin-top: 2%;
}
.name{
    font-size: large;
    margin-left: 2%;
    color: #2c2b2b;
    text-align: left;
}
.contain{
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    margin: 5px;
    border: none;
    /* align-items: center; */
    max-height: 25vw;
    /* background-color: rgb(255, 255, 255);
    background: linear-gradient(to right, #070707 , rgb(0, 0, 0)); */
    
}
.part-1{
    /* border-bottom: 1px solid  rgb(179, 174, 174); */
    /* border: 1px solid  rgb(75, 74, 74); */
    border-radius: 10px;
    /* background: linear-gradient(to right, #022145 , rgb(5 44 56)); */
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    /* border-radius: 10px; */
    overflow: hidden;
    flex: 1;
    width: 5%;
    height: 10%;
    /* background: linear-gradient(to right, #1e1f20 , rgb(23, 29, 34)); */
    background-color: white;
    /* opacity: 0.9; */
    /* background-color: #022145;  */
}
.part-2{
    /* border: 2px solid black; */
    /* border: 1px solid  rgb(75, 74, 74); */
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    flex: 2;
    flex-direction: row;
    display: flex;
    /* border-top: 1px solid  rgb(179, 174, 174); */
    /* border-bottom: 1px solid  rgb(179, 174, 174); */
    /* background: linear-gradient(to right, #065285 , rgb(49, 111, 133)); */
    /* background: linear-gradient(to right, #1e1f20 , rgb(23, 29, 34)); */
    /* background: linear-gradient(to right, rgb(23, 29, 34), #1e1f20); */
    background-color: white;
    
    /* background: linear-gradient(to right, #1e1f20 , rgb(23, 29, 34)); */
    /* background: linear-gradient(to right, #022145 , rgb(5 44 56)); */
    /* border-left: none; */
}
.information-1{
    width: 70%;
    overflow: hidden;
    
}
.upper{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: x-large;
    margin: 2px;
    padding: 2px;
    margin-left: 3%;
    /* background: url('page.png');
    background-size: contain; */
    
}
.data{
    list-style-type: none;
    text-decoration: none;
    margin: 10px;
    padding: 2px;
    color: rgb(69, 69, 69);
   
}
.data-li{
    text-decoration: none;
    margin: 2%;
    padding: 1%;
}
.click-btns{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 6px;
    padding: 5px;
    width: 150%;
    border: none;
    margin-top: 12px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    /* background-color: #2069c6; */
    background-color: #1d82ad;;
    /* color: white; */
    color: rgb(0, 0, 0);
}
.click-btn{
    width: 10vw;
    margin-top: 11%;
}
.name{
    font-weight: bold;
    /* background: linear-gradient(to right, #1e4f81 , rgb(43, 44, 45)); */
    /* color: #1e4f81; */
    /* background:linear-gradient(to right, #fbf5f5 , rgb(185, 55, 77), #e19c9c, rgb(255, 255, 255)); 
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; */
}
@media screen and (max-width: 700px) and (min-width: 500px) {
    .click-btn{
        width: 11vw;
        margin-top: 15%;
    }
}
@media screen and (max-width: 700px) {
    .smallcard{
        font-size: 17px;
        margin: 0;
        width: 100vw;
        border: none;
    }
    .contain{
        margin-top: 5vw;
        height: 30vw;
    }
    button {
        font-size: small;
    }
    .click-btns{
        margin-top: 0px;
        padding: 4px;
      
    }
    .part-1{
        /* width: 5%; */
        /* height: 10%; */
        align-items: center;
        justify-content: center;
        margin: auto;
       
        }
    .name{
        /* font-size: medium; */
        margin-left: 2%;
    }
  }
@media screen and (max-width: 600px) {
    .data{
        margin:5px;
      
     }

}
@media screen and (max-width: 500px) {
    .smallcard{
        font-size: small;
        margin: 0;
        width: 100vw;
        height: 26vw;
    }
    .information-1 {
        overflow: scroll;
    }    
    button {
        font-size: 75%;
    }
    .part-1{
      
        height: 35vw;
    
        }
    .part-2{
     
        font-size: small;
       
        }
     .data{
        margin: 0;
        font-size: 11px;
     }
     .name{
        /* font-size: small; */
        margin-left: 0;
     }
  }
  
@media screen and (max-width: 400px) {
    button {
        font-size: 90%;
        padding: 0;
    }
   
  }

  .contain img{
     width: 18vw;
     height: 25vw;
    object-fit: contain;
    /* background: linear-gradient(to right, #1e1f20 , rgb(23, 29, 34)); */
    /* background: transparent; */
    /* background:  #022145 ; */
    /* border: none; */
  }

  .click-btns:hover{
    cursor: pointer;
    background-color: rgb(101, 103, 104);
    color: white;
    transition: 0.3s;
  }
  .click-btns:active{
    background-color: rgb(243, 240, 235);
  }
  .btn-a-small{
    text-decoration: none;
    color: black;
  }


  @media screen and (min-width: 250px) and (max-width: 400px)  {
   .smallcard{
    height: 40vw;
   }
   .part-1{
    height: 40vw;
   }
   .part-2{
    height: 40vw;
   }
   .contain img{
    height: 40vw;
   }
   .click-btn{
       /* width: 12vw; */
       /* margin: -4%; */
       margin-top: 0%;
       /* height: 40vh; */
   }
   .click-btns{
       height: 40vw;
       width: 178%;
       border-top-left-radius: 0;
       border-bottom-left-radius: 0;
   }
   
   .contain img{
   object-fit:fill
}
  }

  @media screen and (min-width: 250px) and (max-width: 350px)  {
    .name{
        font-size: 16px;
    }
  }
  @media screen and (min-width: 350px) and (max-width: 400px)  {
    .data{
      font-size: 13px;
    }
    .name{
        font-size: 18px;
       }

  }
  @media screen and (min-width: 400px) and (max-width: 450px)  {
   .smallcard{
    height: 35vw;
   }
   .part-1{
    height: 35vw;
   }
   .part-2{
    height: 35vw;
   }
   .contain img{
    height: 35vw;
   }
   .click-btn{
    width: 12.5vw;
    margin: -4%;
    margin-top: 17%;
   }
   .data{
    font-size: 14px;
  }
  .name{
    font-size: 18px;
   }
   .contain img{
    object-fit:fill
 }
 .click-btn{
    /* width: 12vw; */
    /* margin: -4%; */
    margin-top: 0%;
    /* height: 40vh; */
}
.click-btns{
    height: 35vw;
    width: 166%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
 button {
    font-size: 85%;
    padding: 0;
}
  }
  @media screen and (min-width: 450px) and (max-width: 500px)  {
   .smallcard{
    height: 30vw;
   }
   .part-1{
    height: 30vw;
   }
   .part-2{
    height: 30vw;
   }
   .contain img{
    height: 30vw;
   }
   .click-btn{
    width: 13vw;
    margin: -4%;
    margin-top: 16%;

   }
   .data{
    font-size: 14px;
  }
  .name{
    font-size: 19px;
   }
   .contain img{
    object-fit:fill
 }
 .click-btn{
    /* width: 12vw; */
    /* margin: -4%; */
    margin-top: 0%;
    /* height: 40vh; */
}
.click-btns{
    height: 30vw;
    width: 161%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
 button {
    font-size: 90%;
    padding: 0;
}
  }
  @media screen and (min-width: 500px) and (max-width: 600px)  {
   .smallcard{
    height: 33vw;
   }
   .part-1{
    height: 33vw;
   }
   .part-2{
    height: 33vw;
   }
   .contain img{
    height: 33vw;
   }
   .name{
    margin-left: 2%;
   }
   .data{
    font-size: 16px;
  }
  .name{
    font-size: 20px;
   }
   .contain img{
    object-fit:fill
 }
.click-btn{
    /* width: 12vw; */
    /* margin: -4%; */
    margin-top: 0%;
    /* height: 40vh; */
}
.click-btns{
    height: 33vw;
    width: 168%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}


  
  @media screen and (min-width: 601px) and (max-width: 1000px)  {
    .name{
        font-size: 25px;
       }
       .click-btn{
        /* width: 12vw; */
        /* margin: -4%; */
        margin-top: 0%;
        /* height: 40vh; */
    }
    .click-btns{
        height: 25vw;
        width: 178%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin: 0;
        padding: 0;
        /* margin-left: 2vw; */
    }
  }
  @media screen and (min-width: 700px) and (max-width:1000px){
    .click-btns{
        margin-left: 2vw;
    }
  }
  @media screen and (min-width: 1000px) and (max-width: 1700px)  {
    .name{
     font-size: larger;
     margin-left: 1%;
    }
   .data{
    font-size: 20px;
  }
  button {
    font-size: 100%;
    padding: 0;
}
  }
